@{
    ViewData["Title"] = "Home Page";
}

    <div style="margin-top: 20px; margin-bottom: 40px; word-spacing: 50px; font-size: 1.4em; text-align: center;">
        <a href="#"><i class="fab fa-twitter" id="sm1"></i></a>
        <a href="#"><i class="fab fa-facebook-f" id="sm2"></i></a>
        <a href="#"><i class="fab fa-linkedin-in" id="sm3"></i></a>
    </div>

    <p class="display-5" style="margin-top:60px; margin-bottom:110px; letter-spacing: 7px;">
        <img src="~/assets/logo.PNG" width="60px;" height="50px;" alt="" />
        Your Product Solutions
    </p>

    <div class="container" style="margin-top: 170px;">
        <div class="row">
            <div class="col-md">
                <label>Scalable Parts</label> <br />
                <img src="https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" width="80%" />
            </div>
            <div class="col-md">
                <label>Necessary Speed</label> <br />
                <img src="https://images.unsplash.com/photo-1522881193457-37ae97c905bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" width="80%" />
            </div>
            <div class="col-md">
                <label>B2B Dependability</label> <br />
                <img src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" width="80%" />
            </div>
            <div class="col-md">
                <label>A.I. Assistance</label> <br />
                <img src="https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" width="80%" />
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 60px;">
        <div class="row">
            <div class="col-md">
                <label>Security</label> <br />
                <img src="https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" width="80%" />
            </div>
            <div class="col-md">
                <label>More Power</label> <br />
                <img src="https://images.unsplash.com/photo-1483058712412-4245e9b90334?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" width="80%" />
            </div>
            <div class="col-md">
                <label>Hassle-Free</label> <br />
                <img src="https://images.unsplash.com/photo-1487887235947-a955ef187fcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" width="80%" />
            </div>
            <div class="col-md">
                <label>Reliable Connections</label>
                <img src="https://tse4.mm.bing.net/th?id=OIP.FxIf1G22EYhiADPXg4MClwHaFe&pid=Api&P=0&w=205&h=152" width="80%" />
            </div>
        </div>
    </div>


    <p style="position: absolute; bottom: 10px; left: 40px;">Using asp.Net CORE with MVC, Bootstrap for styling, SQL and Azure for databases.</p>